<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.jera.jpong" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	
	<supports-screens android:resizeable="true"
                  android:smallScreens="false" 
                  android:normalScreens="false" 
                  android:largeScreens="true" 
                  android:anyDensity="true" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">

		<activity android:name="br.com.jera.androidutil.SplashActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<activity android:name=".MenuScreen" android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
		</activity>
		<activity android:name=".GameSinglePlayer" android:label="@string/app_name">
		</activity>
		<activity android:name="br.com.jera.jpong.GameMultiPlayer" android:label="@string/app_name">
		</activity>


	</application>
</manifest>